main{
    max-width: 1000px;
    margin: auto;
}

body{
    background-color: brown;
}

label{
    display: block;
    color: brown;
}

h1{
    color: #fff;
    text-align: center;
}

.row{
    display: flex;
    justify-content: center;
    gap: 50px;
    padding-bottom: 20px;
}

form>section , main .card{
    padding: 20px;
    background-color: #fff;
    border-radius:20px;
}

button{
    border: 1px solid brown;
    color: brown;
    background-color: lightgray;
    cursor: pointer;
}

.btn{
    text-align: center;
    padding: 0px 30px;
}

table th , table td{
    padding-right:15px;
}